.page-header
  %h1 このサイトについて
%p
  履修選抜.死ぬ.jp は、<a href="http://twitter.com/ymrl">@ymrl</a>によって2011年度秋学期に開始されたサービスです。<a href="https://gc.sfc.keio.ac.jp/sfc-sfs/">SFC-SFS</a>の情報を自動的にクロールし、学籍番号から履修選抜の状況を調べられるようにしたり、抽選倍率の集計などを行なっています。
%p
  サイト制作の当初の目的は、履修選抜結果の閲覧をより効率的に行うためでした。2011年度春学期までは、そもそも履修選抜結果はWebから閲覧することができず、自分の足でα館の掲示板を見に行くことでのみ確認することができました。その頃に比べればずいぶんと便利になったものですが、「授業ごとに履修許可者の学籍番号を印刷して貼りだす」というやり方をそのままSFC-SFSに持ち込んだと言ってもいいような、公式の発表方法はひどく不便なものでした。
%p
  SFC-SFSで履修選抜結果を確認するためには、My時間割から目的の授業を探して授業名をクリックして、表示されたページからさらに履修選抜結果のページに飛び、そこに表示された履修許可者全員分の学籍番号から自分のものを探す、という手順を踏む必要があります。しかも、いつこの履修選抜結果が表示されるのかわからないため、履修選抜結果が発表されるまで何度も何度もSFSの授業ページにアクセスする必要があります。ただでさえ学期始めの時期はSFC-SFSへのアクセスが集中するというのに、この手順を踏むためにさらにアクセス数が増えてしまうという問題があります。
%p
  そもそも、学生にとっては自分が履修選抜を通ったかどうかがわかればいいはずですから、他の人の番号は不要な情報であるはずです。ただ自分が履修を許可された科目さえ一か所見られればいい、という意図でこのサイトは設計されました。
%p
  データの収集のためには、まず各授業ページにアクセスすることができる必要があります。そのために、作者自身のCNSアカウントを使ってすべての授業に履修希望を出すということをしています。そのせいでよく知らない科目の履修選抜に通ってしまったり、よく知らない授業で作者が名前を呼ばれていたと友人知人から報告されたり、よく知らない研究会のメーリングリストが届くようになってしまったりしているのですが、ご迷惑をおかけしてしまって申し訳ありません。
%p
  サイトを作るために必要なソースコードは<a href="https://github.com/ymrl/sfc_student_selection">GitHubでで公開しています</a>。また<a href="http://gum.co/uPVp">Gumroadで販売もしています</a>ので、もし作者にビールでもご馳走したいという方がいらっしゃいましたらこちらからご購入ください（販売されているのはGitHub上のプロジェクトURLです）。

%p
  このサイトへの要望や感想、苦情などがございましたら、Twitterの <a href="http://twitter.com/ymrl">@ymrl</a> へリプライやダイレクトメッセージを送るか、 ymrl[at]ymrl.net までメールを送っていただければ対応いたします。
%h2 当サイトで取り扱う個人情報について
%p
  当サイトではSFC-SFSという、非公開のWebサイトから入手した情報を使用しておりますが、個人に関わる情報としましては学籍番号とその学籍番号が履修を許可された授業についてのみ扱っております。これは本来、湘南藤沢キャンパスのα館掲示板に行けば誰でも見ることができる情報であるため、事実上の公開情報であると考えております。ただし、あくまでも学内向けの情報であるため、湘南藤沢キャンパス外からのアクセスにつきましては、授業名を伏せた上での公開となっております。 もし履修選抜結果の公開をしてほしくない、という場合には削除いたします。ご連絡ください。
%p
  その他の情報につきましては、慶應義塾の方針に従います。慶應義塾から正式な指示があった場合には、その指示にしたがって公開停止や仕様変更などを行います。
  
