%h2
  = "ホットな授業"
%ol#hot
  - @hots.each do |e|
    %li
      ="#{h e.title} (倍率 #{h sprintf("%.3f",e.odds)} 倍)"
%p
  このページに掲載されている情報は速報性を重視した非公式なものです。必ず大学側の公式な情報も確認してください。
#tbox
%p
  %a{:href=>'/'} もどる
