.page-header
  %h1 履修選抜.死ぬ.jp
%p
  <span class="label label-info">New</span> <a href="http://sfcclip.net/news2012040603">SFC CLIPに紹介されました</a>
%p
  <span class="label label-info">New</span> 抽選倍率の高い授業をお知らせする<a href="/hot">「ホットな授業」ページ</a>を公開しました
%form.numForm.form-horizontal
  %legend 履修選抜結果を見る
  .control-group
    %label.control-label{:for=>:num}
      学籍番号
    .controls
      %input.num.search-query{:type=>:text,:name=>:num,:placeholder=>'学籍番号'}
      %input.btn.btn-primary{:type=>:submit,:value=>'見る'}
%p
  http://履修選抜.死ぬ.jp/自分の学籍番号 で履修選抜を通っている科目を見ることができます。情報はSFC-SFSを20分ごとにクロールして収集しています。選抜結果の公開情報などは <a href="http://twitter.com/sfc_selection">@sfc_selection</a>がTwitterに発言します。
%p
  <a href="https://twitter.com/SFC_selection" class="twitter-follow-button" data-show-count="false" data-lang="ja" data-size="large">@SFC_selectionをフォロー</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
%p
  SFC外からのアクセスの場合は、科目名が伏字で表示されます。すべてを表示するためには<a href="http://www.sfc.itc.keio.ac.jp/ja/network_cns_vpn.html">VPNサービス</a>をご利用ください。
#tbox
