%form{:id=>:numForm}
  %div
    学籍番号:
    %input{:type=>:text,:name=>:num,:id=>:num}
    %input{:type=>:submit,:value=>'見る'}
%p
  %del
    http://履修選抜.死ぬ.jp/自分の学籍番号 で履修選抜を通っている科目を見ることができます。情報はSFC-SFSを20分ごとにクロールして収集しています。
%p
  SFC外からのアクセスの場合は、科目名が伏字で表示されます。すべてを表示するためには<a href="http://www.sfc.itc.keio.ac.jp/ja/network_cns_vpn.html">VPNサービス</a>をご利用ください。
%p
  このWebサイトのコード、ならびにSFC-SFSから情報を取得するスクリプトは <a href="https://github.com/ymrl/sfc_student_selection">https://github.com/ymrl/sfc_student_selection</a> にて公開してあります。（事前にすべての授業を履修希望しておく必要があります）
#tbox
%p 
  ご意見、ご要望はTwitterから<a href="http://twitter.com/ymrl">@ymrl</a>またはメールで ymrl [at] ymrl.net までお送りください。
%script
  document.getElementsByTagName('form')[0].addEventListener('submit',function(e){location.href ='/'+document.getElementById('num').value;e.preventDefault();})

