!!!
%html
  %head
    %meta{:charset => "UTF-8"}
    %title 履修選抜.死ぬ.jp
    %script{:src=>"/jquery.min.js",:type=>"text/javascript"}
    %script{:src=>"/bootstrap/js/bootstrap.min.js",:type=>"text/javascript"}
    %script{:src=>"http://platform.twitter.com/anywhere.js?id=drT3DAFa5ZiYKMjxMXKcw&v=1",:type=>"text/javascript"}
    %script{:src=>"/senbatsu.js",:type=>"text/javascript"}
    %link{:rel=>'stylesheet',:href=>'/bootstrap/css/bootstrap.min.css'}
    %link{:rel=>'stylesheet',:href=>'/bootstrap/css/bootstrap-responsive.min.css'}
    %link{:rel=>'stylesheet',:href=>"/styles.css"}
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35033643-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    .navbar.navbar-inverse
      .navbar-inner
        %a.brand{:href=>'http://xn--8uqs71aoyeyq7c.xn--s9j219o.jp/'}
          履修選抜.死ぬ.jp
        %ul.nav
          %li
            %a{:href=>'/about'}
              このサイトについて
          %li
            %a{:href=>'/hot'}
              ホットな授業
        %ul.nav.pull-right
          %li
            %form.navbar-search.pull-left.numForm
              %input.num.search-query{:type=>:text,:name=>:num,:placeholder=>'学籍番号'}
              %input.search-query{:type=>:submit,:value=>'選抜結果を見る'}
    .container
      .row
        .span8
          = yield
        .span4
          <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
          <script> new TWTR.Widget({ version: 2, type: 'search', search: '#SFC履修選抜', interval: 30000, title: '選抜を通ったらツイートしよう！', subject: '#SFC履修選抜', width: 'auto', height: 300, theme: { shell: { background: '#8ec1da', color: '#ffffff' }, tweets: { background: '#ffffff', color: '#444444', links: '#1985b5' } }, features: { scrollbar: false, loop: true, live: true, behavior: 'default' } }).render().start(); </script>
    %footer.footer
      %p
        このサイトに掲載されている情報は非公式のものです。必ず公式の情報もあわせてご参照ください。
      %p
        このWebサイトのコードは <a href="https://github.com/ymrl/sfc_student_selection">https://github.com/ymrl/sfc_student_selection</a> にて公開してあります。
      %p 
        ご意見、ご要望はTwitterから<a href="http://twitter.com/ymrl">@ymrl</a>またはメールで ymrl [at] ymrl.net までお送りください。
