.page-header
  %h1
    = "学籍番号 #{h @num} の履修選抜結果"
%p 履修選抜を通過した科目が表示されます。
%ul#list{:class=>@intern ? 'intern' : 'outside'}
  - @pms.each do |e|
    %li
      = h (@intern? e.lecture.title : "****")
  - if @pms.length == 0
    %li.nocount （情報なし）
-if !@intern
  %p
    科目名を表示するにはキャンパス内からアクセスするか、<a href="http://www.sfc.itc.keio.ac.jp/ja/network_cns_vpn.html">VPNサービス</a>をご利用ください。
#tbox
%p
  %a{:href=>'/'} もどる
